requests
joblib
beautifulsoup4
pandas
numpy
Jinja2
fire
ipykernel
tqdm
transformers==4.35.0
ninja==1.11.1.1
packaging==23.2
peft==0.5.0
scipy==1.12.0
trl==0.7.2
typing-inspect==0.8.0
typing_extensions==4.5.0
accelerate==0.23.0
bitsandbytes==0.41.1